.main_container {
    margin-top: 2rem;
    height: 90vh;
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: center;


}

.container {
    width: 70%;
    height: 100vh;
    display: flex;
    gap: 10px;
}

.left_side {
    width: 20%;
}

.middle {
    width: 60%;
}
.items {
    font-size: 13px;
    padding: 5px 0px;
}
.items:hover {
    background-color: rgba(182, 191, 197, 0.201);
    cursor: pointer;
}
.red {
    color: red;

}

.black {
    color: black;
}

.icon-message {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-message img {
    width: 80px;
}