*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.btn:hover{
  box-shadow: unset !important;
}

input[type="button"]{
  outline: none !important;
}

button::selection{
  outline: none !important;
}